/*/*/*/**
 * Learn HTML & CSS from Scratch
 * 4.1: Responsive Layouts
 */

/********** Device Styles **********/

/**
 * Tablet Landscape: 1024px
 */

@media only screen and (max-width: 1024px) {
	.headercontainter {
		width: 90%;
	}

	.headercontainer h1 {
		font-size: 1.2em;
		margin-right: 40%;
	}

	#social {
		position: absolute;
		top: 120px;
		width: auto;
	}
}

/**
 * Tablet Portrait: 768px
 */

@media only screen and (max-width: 768px) {
	.headercontainter {
		width: 90%;
	}

	.headercontainer h1 {
		font-size: 1.1em;
	}
	
	#social {
		position: absolute;
		top: 120px;
		width: auto;
	}
}


/**
 * Smartphone Landscape: 480px
 */

@media only screen and (max-width: 480px) {

	.headercontainer h1 {
		font-size: 10px;
	}

	.col1_left {
    float: left;
    width: 100%;
    margin: 1% 0 2% 1%;
    display: inline-block;
    overflow-x: visible;
  }

	#linkbar {
	 	margin: 0;
	}
		#linkbar a {
		font-size: 10px;
	}
	
	#social {
		position: absolute;
		top: 120px;
		width: auto;
	}
}


/**
 * Smartphone Portrait: 320px
 */


@media only screen and (max-width: 320px) {

	.headercontainter {
		width: 100%;

	}
	.headercontainer h1 {
		font-size: 10px;
	}
	 #linkbar {

	 }
		#linkbar a {
		display: inline-block;
		font-size: 10px;
	}
		#social {
		position: absolute;
		top: 120px;
		width: auto;
	}
}
